@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Colors */
  --color-primary: #f22020;
  --color-point: #ff8e8e;
  --color-gray-0: #222222;
  --color-gray-100: #333333;
  --color-gray-200: #555555;
  --color-gray-300: #999999;
  --color-gray-400: #c1c1c1;
  --color-gray-500: #dadada;
  --color-gray-600: #e7e7e7;
  --color-gray-700: #f7f7f7;
  --color-gray-800: #c0c0c0;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-white-opacity-1: #ffffff0a; /* 흰색 4% */
  --color-black-opacity-1: #00000099; /* 블랙 60% */
  --color-black-opacity-2: #0000004d; /* 블랙 30% */
  --color-status-error: #d02006;
  --color-status-warning: #f0d36a;
  --color-status-success: #6bd876;
  --color-status-info: #61b1ea;
  --color-component: #ff9000;
  --color-bgColor: #161616;
  --color-bgContent: #1a1a1a;

  /* fontStyle */
  --text-xxs: 0.625rem; /* 10px */
  --text-xxs--line-height: 1.5;
  --text-xs: 0.75rem; /* 12px */
  --text-xs--line-height: 1.5;
  --text-s: 0.8125rem; /* 13px */
  --text-s--line-height: 1.5;
  --text-sm: 0.875rem; /* 14px */
  --text-sm--line-height: 1.5;
  --text-base: 1rem; /* 16px */
  --text-base--line-height: 1.5;
  --text-lg: 1.125rem; /* 18px */
  --text-lg--line-height: 1.5;
  --text-xl: 1.25rem; /* 20px */
  --text-xl--line-height: 1.4;
  --text-2xl: 1.5rem; /* 24px */
  --text-2xl--line-height: 1.4;
  --text-3xl: 2rem; /* 32px */
  --text-3xl--line-height: 1.3;
  --text-4xl: 2.5rem; /* 40px */
  --text-4xl--line-height: 1.3;

  /* Screens */
  --breakpoint-sm: 360px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1920px;

  /* Shadow */
  --shadow-custom: -2px 0px 20px 0px rgba(0, 0, 0, 0.08);
  --shadow-floating: 0px 0px 24px 0px rgba(0, 0, 0, 0.08);

  --font-pretendard: "Pretendard", sans-serif;
}

@layer {
  body {
    font-family: var(--font-pretendard);
    height: 100%;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -khtml-user-drag: none;
  }

  button {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .tap-highlight-transparent {
    -webkit-tap-highlight-color: transparent;
  }

  .font-hakgyo {
    font-family: var(--font-hakgyo);
  }

  .font-pretendard {
    font-family: var(--font-pretendard);
  }

  /* Chrome, Safari, Edge, Opera */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  [data-dnd-draggable] {
    touch-action: none;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-sm {
  @apply text-s h-9 rounded-lg px-4 font-medium;
}

.button-md {
  @apply h-11 rounded-lg px-6 text-sm font-medium;
}

.button-lg {
  @apply h-12 rounded-xl px-6 text-[15px] font-semibold;
}

.button-xl {
  @apply h-14 rounded-xl px-8 text-base font-semibold;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
